/* Mise en page globale
-------------------------------------------------- */
html {
    font-family: "Arial", sans-serif;
}

p {
    margin-bottom: 0.21cm;
    page-break-inside: avoid;
    font-size: 11pt;
}

h1, h2, h3 {
    page-break-before: auto;
    font-style: normal;
    font-weight: bold;
}
h1 {
    margin-top: 0.5cm;
    font-size: 24pt;
}
h2 {
    margin-left: 0.7cm;
    margin-top: 0.4cm;
    margin-bottom: 0.4cm;
    font-size: 16pt;
    text-align: center;
}
h3 {
    margin-left: 1.4cm;
    margin-top: 0.4cm;
    margin-bottom: 0.4cm;
    font-size: 14pt;
}


/* Pour les tables
-------------------------------------------------- */
th.titre {
    background-color: #e0e0e0;
    font-size: 14pt;
}

td {
    margin-left: 0.5cm;
    margin-bottom: 0.21cm;
    font-size: 14pt;
}
td.A, td.V, 
td.B, td.J, 
td.C, td.O, 
td.D, td.R, 
td.X, 
td.valeur {
    text-align: center;
}
/* Les couleurs de fond des évaluations
-------------------------------------------------- */
td.A, td.V {
    background-color: #00ff00;
}
td.B, td.J {
    background-color: #ffff00;
}
td.C, td.O {
    background-color: #ff6309;
}
td.D, td.R {
    background-color: #ff0000;
}
td.X {
    background-color: #c0c0c0;
}
td.appreciation {
    background-color: #e0e0e0;
    font-style: italic;
}
td.PP-appreciation {
    font-style: italic;
}
