/* Mise en page globale
-------------------------------------------------- */
html {
    font-family: "Arial", sans-serif;
}

p {
    margin-bottom: 0.21cm;
    font-size: 10pt;
}

h1, h2 {
    font-style: normal;
    font-weight: bold;
}
h1  {
    font-size: 12pt;
    text-align: left;
}
h2  {
    font-size: 10pt;
    text-align: center;
}

/* Pour les tables
-------------------------------------------------- */
table {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: left;
    border: 0;
    border-collapse: collapse;
    }
th {
    background-color: #e0e0e0;
    font-size: 9pt;
    font-weight: bold;
    padding: 5px;
    }
td {
    font-size: 8pt;
    padding: 5px;
}
/* On règle ici la hauteur des lignes des matières
 * (attribut height)
 * modifier si besoin pour que ça tienne
 * sur une page
-------------------------------------------------- */
td.matiere {
    height: 30px;
    border: thin solid;
}
td.valeur {
    border: thin solid;
    text-align: center;
}
td.appreciation {
    border: thin solid;
}
