/* change default html styles */
html, body, p, h1, h2, h3, h4, h5, h6, fieldset, ul, li{
    margin: 0;
    padding: 0;
}
a img {
    border-style: none;
}

/* general styling */
body {
    background: #ffffff;
    /*background: #ff00ff;*/
    color: #1b1b1b;
    font: normal Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: .25em;
    font-weight: normal;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Trebuchet MS", Verdana, sans-serif;
}
h1 { font-size: 2.6em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.7em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.3em; }

p {
    margin-bottom: 1em;
    line-height: 1.3;
}
a {
    color: #095eae;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul.list, ol.list {
    margin-left: 3em;
    margin-bottom: 1em;
}
.list li {
    margin-bottom: .5em;
    color: #1b1b1b;
}



