/* sélecteurs sous la navbar */
div#selects_top {
    position: fixed;
    z-index: 3;
    left: 0px;
    right: 0px;
    background-color: #aaa;
    padding: 5px;
}
/* pour la navbar */
@media (min-width: 768px), (max-width: 824px) {
    div#container {
        padding-top: 140px;
        width: 90%;
        /*background-color: red;*/
    }
    div#selects_top {
        top: 98px;
    }
}
@media (min-width: 825px) {
    div#container {
        padding-top: 100px;
        width: 90%;
        /*background-color: blue;*/
    }
    div#selects_top {
        top: 55px;
    }
}
@media (max-width: 767px) {
    div#container {
        padding-top: 100px;
        width: 90%;
        /*background-color: green;*/
    }
    div#selects_top {
        top: 50px;
    }
}
/* liste déroulantes scrollables */
.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}
/* version imprimable */
@media print {
    div#container {
        padding-top: 0px;
        width: 100%;
    }
}



/* mise en forme des tableaux */
.fixedTable {
    border: thin solid #dee2e6;
    box-sizing: border-box;
    margin-bottom: 40px;
    background-color: #fff;
}
table {
    border-collapse: collapse;
    max-width: 100%;
}
tr:nth-child(odd) {
    background: #f2f2f2;
}

th {
    border: thin solid #dee2e6;
    border-top: thin solid #fff;
    vertical-align: top;
    white-space: nowrap !important;
    padding: 2px;
    background: #fff;
    text-align: center;
}
th:first-child {
    border: thin solid #fff;
    z-index: 20;
}
th.verticalTitle {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th.smallWidth {
    min-width: 30px;
    max-width: 30px;
    width: 30px;
}
th.mediumWidth {
    min-width: 60px;
    max-width: 60px;
    width: 60px;
}
th.bigWidth {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}
div.verticalBig {
    transform: rotate(270deg) translateX(-30px);
}
div.verticalMedium {
    transform: rotate(270deg) translateX(-45px);
}
div.verticalSmall {
    transform: rotate(270deg) translateX(-60px);
}
th.horizontalTitle {
    height: 30px;
}
th.appreciationTitle {
    width: 1000;
}

td {
    border: thin solid #dee2e6;
    vertical-align: middle;
    white-space: nowrap !important;
    padding: 0.2em;
    text-align: center;
}
td:first-child {
    border-left: thin solid #fff;
    padding-right: 1em;
    text-align: left;
}
td.gray {
    background: #f2f2f2;
}
td.white {
    background: #fff;
}
td.appreciation {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1000px;
    width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* cases éditables */
td.edit_eval {
    cursor: pointer;
}
td.edit_appreciation {
    cursor: pointer;
}

tr.appreciationColumn, td.appreciationColumn {
    height: 90px;
}
tr.groupColumn, td.groupColumn {
    height: 110px;
}

/* séparateurs */
th.separator, td.separator {
    max-width: 3px;
    min-width: 3px;
    width: 3px;
    border: thin solid #aaa;
    background-color: #aaa;
    padding: 1px !important;
}
td.interligne {
    border: thin solid #aaa;
    background-color: #aaa;
    padding: 1px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}
