/* pour la navbar */
div#container {
    padding-top: 70px;
}
/* liste déroulantes scrollables */
.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}
/* version imprimable */
@media print {
    div#container {
        padding-top: 0px;
        width: 100%;
    }
}

/* mise en forme des tableaux */
th.title {
    text-align: center;
}

@media not print {
    .table-fixed {
        max-width: 100%;
        margin: auto;
        display: block;
    }
    .table-fixed thead {
        max-width: 100%;
        margin: auto;
        table-layout: fixed;
    }
    .table-fixed tbody {
        max-width: 100%;
        margin: auto;
        display: block;
        overflow-y: scroll;
    }
}
