/* pour la navbar */
div#container {
    padding-top: 70px;
}
/* liste déroulantes scrollables */
.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}
/* version imprimable */
@media print {
    div#container {
        padding-top: 0px;
        width: 100%;
    }
}

/* mise en forme des tableaux */
table.bilan {
    max-width: 100%;
    margin: auto;
    text-align: center;
    border: 2px inset;
    border-color: #aaa;
    border-collapse: collapse;
}
thead.bilan {
    font-weight: bold;
    border: 2px inset;
    border-color: #aaa;
}
th.title1 {
    text-align: center;
    padding-top: 70px;
    width: 70px;
    max-width: 70px;
}
div.vertical {
    -webkit-transform: rotate(270deg) translateX(-15px);
    -moz-transform: rotate(270deg) translateX(-15px);
    -o-transform: rotate(270deg) translateX(-15px);
    -ms-transform: rotate(270deg) translateX(-15px);
    transform: rotate(270deg) translateX(-15px);
}
th.verticalTitle {
    font-weight: normal;
    height: 100px;
    width: 30px;
    max-width: 30px;
}
th.student {
    text-align: left;
    padding-left: 5px;
    padding-top: 70px;
}
td.student {
    text-align: left;
    padding-left: 5px;
    padding-right: 100px;
    max-width: 400px;
}
td.interligne {
    height: 1px;
    border: thin solid #aaa;
    background-color: #aaa;
}
td.separator {
    width: 5px;
    border: thin solid #aaa;
    background-color: #aaa;
}
