/* pour la navbar */
div#container {
    padding-top: 70px;
}
/* liste déroulantes scrollables */
.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}
/* version imprimable */
@media print {
    div#container {
        padding-top: 0px;
        width: 100%;
    }
}

/* mise en forme des tableaux */
table.bilan {
    width: 100%;
    text-align: center;
    border: 2px inset;
    border-color: #aaa;
    border-collapse: collapse;
}
thead.bilan {
    font-weight: bold;
    border: 2px inset;
    border-color: #aaa;
}
th.title {
    width: 85%;
    text-align: center;
}
td.subject {
    font-weight: bold;
    text-align: left;
    padding-left: 1em;
}
td.appreciation {
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #ddd;
    font-style: italic;
}
