body {
    padding-top: 10px;
    }

.login {
    max-width: 350px;
    padding: 5px;
    margin: 0 auto;
    background-color: #eeeeee;
    }
.container .login {
    border-radius: 6px;
    }

.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    }
.form-login .form-login-heading,
.form-login .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    }
.form-login .form-control:focus {
    z-index: 2;
    }

.message {
    max-width: 450px;
    margin: 0 auto;
    }
