/* sélecteurs sous la navbar */
div#selects_top {
    position: fixed;
    z-index: 3;
    left: 0px;
    right: 0px;
    background-color: #aaa;
    padding: 5px;
}
/* pour la navbar */
@media (min-width: 768px), (max-width: 895px) {
    div#container {
        padding-top: 140px;
    }
    div#selects_top {
        top: 98px;
    }
}
@media (min-width: 896px) {
    div#container {
        padding-top: 100px;
    }
    div#selects_top {
        top: 55px;
    }
}
@media (max-width: 767px) {
    div#container {
        padding-top: 100px;
    }
    div#selects_top {
        top: 50px;
    }
}
/* liste déroulantes scrollables */
.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}
/* version imprimable */
@media print {
    div#container {
        padding-top: 0px;
        width: 100%;
    }
}

/* mise en forme des tableaux */
table.bilan {
    width: 100%;
    text-align: center;
    border: 2px inset;
    border-color: #aaa;
    border-collapse: collapse;
}
thead.bilan {
    font-weight: bold;
    border: 2px inset;
    border-color: #aaa;
}
th.title {
    width: 85%;
    padding-left: 1em;
    text-align: left;
}
th.student {
    width: 10%;
    text-align: center;
}
th.group {
    width: 5%;
    text-align: center;
}
td.competence_label {
    text-align: left;
    padding-left: 5px;
}

/* affichage des détails en toggle */
td.detail_parent {
    cursor: pointer;
}
tr.detail_child {
    font-size: 90%;
}
.hidden {
    display: none;
}
td.detail_label {
    background-color: #ddd;
    text-align: left;
    padding-left: 20px;
    font-style: italic;
}
td.interligne {
    height: 1px;
    border: thin solid #aaa;
    background-color: #aaa;
}

/* affichage des commentaires */
a.comment-show {
    cursor: pointer;
}
/* The Modal (background) */
.my-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 50px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
