/* pour la navbar */
@media (min-width:992px) {
    div#container {
        padding-top: 100px;
    }
}
@media (max-width: 991px) {
    div#container {
        padding-top: 140px;
    }
}
/* liste déroulantes scrollables */
.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}
/* version imprimable */
@media print {
    div#container {
        padding-top: 0px;
        width: 100%;
    }
}

/* mise en forme des tableaux */
table.bilan {
    width: 100%;
    text-align: center;
    border: 2px inset;
    border-color: #aaa;
    border-collapse: collapse;
}
thead.bilan {
    font-weight: bold;
    border: 2px inset;
    border-color: #aaa;
}
th.title {
    padding-left: 1em;
    text-align: left;
}
th.student {
    text-align: center;
}
th.group {
    text-align: center;
}
td.competence_label {
    text-align: left;
    padding-left: 5px;
}
td.appreciation {
    height: 1em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #ddd;
    font-style: italic;
}

/* affichage des détails en toggle */
tr.detail_parent {
    cursor: pointer;
}
tr.detail_child {
    font-size: 90%;
}
.hidden {
    display: none;
}
td.detail_label {
    background-color: #ddd;
    text-align: left;
    padding-left: 20px;
    font-style: italic;
}
td.interligne {
    height: 1px;
    border: thin solid #aaa;
    background-color: #aaa;
}
td.with_title {
    cursor: pointer;
}
