/* pour la navbar */
@media (min-width:992px) {
    div#container {
        padding-top: 100px;
    }
}
@media (max-width: 991px) {
    div#container {
        padding-top: 140px;
    }
}
/* liste déroulantes scrollables */
.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}
/* version imprimable */
@media print {
    div#container {
        padding-top: 0px;
        width: 100%;
    }
}

/* mise en forme des tableaux */
table.bilan {
    width: 100%;
    text-align: center;
    border: 2px inset;
    border-color: #aaa;
    border-collapse: collapse;
}
td.competence_label {
    text-align: left;
    padding-left: 5px;
}
