/* sélecteurs sous la navbar */
div#selects_top {
    position: fixed;
    z-index: 3;
    left: 0px;
    right: 0px;
    background-color: #aaa;
    padding: 5px;
}
/* pour la navbar */
@media (min-width: 768px), (max-width: 895px) {
    div#container {
        padding-top: 140px;
    }
    div#selects_top {
        top: 97px;
    }
}
@media (min-width: 896px) {
    div#container {
        padding-top: 100px;
    }
    div#selects_top {
        top: 55px;
    }
}
@media (max-width: 767px) {
    div#container {
        padding-top: 100px;
    }
    div#selects_top {
        top: 50px;
    }
}
/* liste déroulantes scrollables */
.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}
/* version imprimable */
@media print {
    div#container {
        padding-top: 0px;
        width: 100%;
    }
}

/* mise en forme des tableaux */
table.bilan {
    width: 100%;
    text-align: center;
    border: 2px inset;
    border-color: #aaa;
    border-collapse: collapse;
}
thead.bilan {
    font-weight: bold;
    border: 2px inset;
    border-color: #aaa;
}
th.title {
    width: 100px;
    text-align: center;
}
th.last {
    text-align: center;
}
td.interligne {
    height: 1px;
    border: thin solid #aaa;
    background-color: #aaa;
}
