/* sélecteurs sous la navbar */
div#selects_top {
    position: fixed;
    z-index: 3;
    left: 0px;
    right: 0px;
    background-color: #aaa;
    padding: 5px;
}
/* pour la navbar */
@media (min-width: 768px), (max-width: 915px) {
    div#container {
        padding-top: 140px;
    }
    div#selects_top {
        top: 97px;
    }
}
@media (min-width: 916px) {
    div#container {
        padding-top: 100px;
    }
    div#selects_top {
        top: 55px;
    }
}
@media (max-width: 767px) {
    div#container {
        padding-top: 100px;
    }
    div#selects_top {
        top: 50px;
    }
}
/* liste déroulantes scrollables */
.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}
/* version imprimable */
@media print {
    div#container {
        padding-top: 0px;
        width: 100%;
    }
}

/* mise en forme des tableaux */
table.bilan {
    width: 100%;
    text-align: center;
    border: 2px inset;
    border-color: #aaa;
    border-collapse: collapse;
}
table.bilan2 {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
thead.bilan {
    font-weight: bold;
    border: 2px inset;
    border-color: #aaa;
}
th.title {
    width: 90%;
    padding-left: 1em;
    text-align: left;
}
th.student {
    width: 10%;
    text-align: center;
}
td.competence_label {
    text-align: left;
    padding-left: 5px;
}
td.appreciation {
    height: 1em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #eee;
    font-style: italic;
}

/* affichage des détails en toggle */
td.cursor {
    cursor: pointer;
}
td.eval {
    /*cursor: pointer;*/
    height: 40px;
}
tr.detail_child {
    font-size: 90%;
}
.hidden {
    display: none;
}
td.detail_label {
    background-color: #ddd;
    text-align: left;
    padding-left: 20px;
    font-style: italic;
}
td.interligne {
    height: 1px;
    border: thin solid #aaa;
    background-color: #aaa;
}

/* cases éditables */
td.edit_eval {
    cursor: pointer;
    border: 3px solid #aaa;
    height: 40px;
}
