
div {
    text-align:         center;
    page-break-inside:  avoid;
    }

hr {
    page-break-after:   always;
    }

th {
    width:              85%;
    padding-left:       1em;
    text-align:         center;
    background-color:   #AAAAAA;
    vertical-align:     middle;
    }

td {
    height:             1em;
    text-align:         center;
    vertical-align:     middle;
    }

